/* Chip Styles */
.chip {
  border: none;
  display: inline-flex; /* Allow tags to wrap */
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  background: rgba(177, 175, 233, 0.1);
  color: #1b237e;
  font-family: "Inter", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  margin: 4px 4px 0 0; /* Add space between tags */
  white-space: nowrap; /* Prevent tags from breaking */
  overflow: hidden; /* Handle long text */
  text-overflow: ellipsis;
}
