/* Custom CSS for Tabs */
.custom-classroom-tab-style #rc-tabs-1-tab-1,
.custom-classroom-tab-style #rc-tabs-1-tab-2,
.custom-classroom-tab-style #rc-tabs-1-tab-3 {
  height: 19px;
  padding: 0 0px;
  border-radius: 12px 12px 0 0;
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  color: #573353;
  border: none; /* Removes the default border from the tabs */
}

.custom-classroom-tab-style .ant-tabs-content-holder {
  border: none !important;
  background-color: transparent !important;
  box-shadow: none !important;
}
/* Custom Ink Bar - Removes the underline on the active tab */
.custom-classroom-tab-style .ant-tabs-ink-bar {
  display: block; /* Hides the default underline */
  background: var(--light-blue);
}

.custom-classroom-tab-style .ant-tabs-tab-btn:hover {
  color: var(--light-blue) !important;
}

/* Removes the border from the tab content */
.custom-classroom-tab-style .ant-tabs-content {
  border: none; /* Removes border from the body */
}

/* Removes the border from each individual tab panel */
.custom-classroom-tab-style .ant-tabs-tabpane {
  border: none; /* Removes border from each tab pane (content area) */
}

/* Apply custom styles to tab label text when ink bar is active */
.custom-classroom-tab-style
  .ant-tabs-tab.ant-tabs-tab-active
  .classroom-headertab-text {
  flex-grow: 0;
  font-size: 14px;
  font-weight: var(--font-weight-bold);
  text-align: left;
  color: #241631; /* Custom text color */
}
.classroom-headertab-text {
  flex-grow: 0;
  font-size: 14px;
  opacity: 0.7;
  text-align: left;
  color: #24163180; /* Custom text color */
}

.classroom-table-thumb {
  width: 17.5px;
  height: 16.5px;
}
.classroom-overview-card-number {
  font-size: 20px;
  font-weight: var(--font-weight-bold);
  text-align: right;
  color: #5978f7;
}
.classroom-overview-card-progress-text {
  font-size: 10px;
  font-weight: var(--font-weight-light);
  text-align: left;
  color: #00ac5e;
  margin-left: 8px;
}

.classroom-overview-detail-custom-card .ant-card-body {
  padding: 9.5px 16px;
  max-height: 72px;
  height: 72px;
  align-items: center;
  align-content: center;
  border-radius: 8px;
  border: 1px solid rgba(22, 40, 49, 0.1);
  background: var(--White-colour, #fff);
  box-shadow: 0px 2px 20px 0px #5733531f;
}

.classroom-enrooled-student-status .ant-progress-bg {
  border-radius: 8px 0 0 8px !important;
  height: 20px !important;
}

.classroom-enrolled-student-bar .ant-progress-inner {
  border-radius: 0px !important;
}

.active-ellipse {
  width: 9px;
  height: 9px;
  flex-grow: 0;
  border-radius: 50%;
  background-color: #9be8ff;
}

.upcomming-ellipse {
  width: 9px;
  height: 9px;
  flex-grow: 0;
  border-radius: 50%;
  margin-left: 20px;
  background-color: #fdcd16;
}

.classroom-bar-text {
  flex-grow: 0;
  font-size: 11px;
  text-align: left;
  color: rgba(65, 65, 78, 0.8);
}

.classroom-create {
  padding: 20px;
}

.parent-create-toggle-btn .ant-switch {
  background: linear-gradient(90deg, #5978f7 0%, #9c84ff 100%) !important;
  opacity: 0.4;
}
.parent-create-toggle-btn .ant-switch.ant-switch-checked {
  background: linear-gradient(-260deg, #5978f7, #9c84ff) !important;
  opacity: 1;
}
.classroom-create-toggle-btn .ant-switch {
  border-radius: 12px;
  background: var(
    --Lavender-Lenear,
    linear-gradient(90deg, #5978f7 0%, #9c84ff 100%)
  );
}
.classroom-create-toggle-btn .ant-switch:hover {
  border-radius: 12px;
  background: var(
    --Lavender-Lenear,
    linear-gradient(90deg, #5978f7 0%, #9c84ff 100%)
  );
}
.classroom-create-toggle-btn .ant-switch-checked {
  /* background: linear-gradient(-260deg, #f965a0, #e54649) !important; */
  background: linear-gradient(90deg, #5978f7 0%, #9c84ff 100%) !important;
  opacity: 0.4;
}
.classroom-show-inactive-toggle-btn .ant-switch {
  background: linear-gradient(90deg, #5978f7 0%, #9c84ff 100%) !important;
  opacity: 0.4;
}
.classroom-show-inactive-toggle-btn .ant-switch.ant-switch-checked {
  background: linear-gradient(to right, #5978f7, #9c84ff) !important;
  opacity: 1;
}

.classroom-inactive-label {
  color: #573353;
  font-weight: var(--font-weight-light);
  font-size: 14px;
  line-height: 19.12px;
}

.classroom-label .ant-form-item-label > label {
  font-size: 12px;
  color: var(--text-color);
}
.classroom-label {
  opacity: 0.8;
  align-self: stretch;
  font-size: 12px;
  text-align: left;
  color: var(--variable-collection-color-secondary);
}
.classroom-label-light {
  opacity: 0.6;
  align-self: stretch;
  font-size: 12px;
  text-align: left;
  color: var(--variable-collection-color-secondary);
}

.classroom-profile-card .ant-card-body {
  height: 118px;
  max-height: 118px;
  padding: 16px 12px;
  box-shadow: 0px 2px 20px 0px #5733531f;
  border-radius: 8px;
}
.classroom-profile-card .ant-card {
  box-shadow: 0px 2px 20px 0px #5733531f;
}

.classroom-profile-card-label {
  flex-grow: 0;
  font-family: var(--font-family);
  font-size: 13px;
  font-weight: var(--font-weight-medium);
  text-align: left;
  color: rgba(65, 65, 78, 0.8);
}
.classroom-profile-card-label-number {
  font-size: 20px;
  text-align: left;
  color: var(--variable-collection-color-black-2);
  font-weight: var(--font-weight-bold);
}

.classroom-student-profile-card .ant-card-body {
  /* height: 132px !important; */
  padding: 10px !important;
  border-radius: 8px;
  border: 1px solid rgba(87, 51, 83, 0.1);
  background: var(--White-colour, #fff);
}

.active-green {
  background-color: var(--color-green-light);
}

/* Horizontal scroll and scroll snap */
.week-scroll {
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  display: flex;
  gap: 16px;
  width: 100%;
}

.week-scroll::-webkit-scrollbar {
  display: none; /* Hide scrollbar for better UX */
}

.snap-item {
  scroll-snap-align: center;
}

/* Date circle styles */
.date-circle {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #333;
}

.selected-date {
  background-image: linear-gradient(to bottom, #5978f7 0%, #9c84ff);
  color: white;
}

/* Responsive adjustments */
@media (max-width: 576px) {
  .date-circle {
    width: 24px;
    height: 24px;
    font-size: 12px;
  }
}

/* border for tab head item */
.classroom-custom-tabs .ant-tabs-card .ant-tabs-tab-active {
  border: solid 1px var(--color-dark-blue) !important; /* Border for active tab */
  border-bottom: none !important; /* No bottom border for the active tab */
  border-radius: 8px 8px 0 0 !important; /* Rounded top-left and top-right */
  background-color: var(--variable-collection-color-white) !important;
}

.ant-tabs-card.ant-tabs-top > .ant-tabs-nav .ant-tabs-tab-active {
  border: solid 1px var(--color-dark-blue) !important; /* Active tab border color */
  border-bottom: none !important; /* Remove bottom border */
  border-radius: 8px 8px 0 0 !important; /* Apply rounded corners only at the top */
  /* background-color: var(--variable-collection-color-white) !important; */
}

/* Additional styling for the active right-side tab */
.right-tab-active {
  border: solid 1px var(--color-dark-blue) !important;
  border-radius: 8px 8px 0 0;

  background: linear-gradient(
    90deg,
    #5978f7,
    #9c84ff
  ); /* Gradient background */
  color: var(--color-white);
  padding: 8px 16px;
  cursor: pointer;
}

.right-tab-active .inner-text {
  font-size: 14px;
  font-weight: var(--font-weight-bold);
  text-align: center;
  color: var(--variable-collection-color-white);
}
.right-tab-active .inner-text-icons {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

/* Border-radius for table content */
.classroom-custom-tabs .ant-tabs-card .ant-tabs-content-holder {
  border-radius: 0 0 8px 8px; /* Bottom-left and bottom-right border-radius */
  border: solid 1px var(--color-dark-blue) !important; /* Border for the table */
  /* border-top: none; Remove top border */
}
.classroom-custom-tabs .ant-tabs-content {
  height: 490px !important;
}
/* border for tab body */
.ant-tabs-content-holder {
  border: solid 1px var(--color-dark-blue) !important;
  border-radius: 0 0 8px 8px;
  background-color: #ffffff;
  box-shadow: 0px 2px 20px 0px #5733531f;
}
/* Style the Staff tab with key="1" */
.classroom-custom-tabs .ant-tabs-tab[data-node-key="1"],
.classroom-custom-tabs .ant-tabs-tab:nth-child(1) {
  background-color: #2c63e219;
}

/* Style the Staff tab with key="2" */
.classroom-custom-tabs .ant-tabs-tab[data-node-key="2"],
.classroom-custom-tabs .ant-tabs-tab:nth-child(2) {
  background-color: #cbf6ff66;
}

/* Style the Staff tab with key="3" */
.classroom-custom-tabs .ant-tabs-tab[data-node-key="3"],
.classroom-custom-tabs .ant-tabs-tab:nth-child(3) {
  background-color: #d9ffcb66;
}

.student-activity-type-icons {
  width: 13.3px;
  height: 13.3px;
}
.student-activity-type-label {
  font-size: 12px;
  font-weight: var(--font-weight-light);
  text-align: left;
  color: rgba(65, 65, 78, 0.8);
  margin-left: 4px;
}

.custom-clear-button {
  background-color: #b1afe919 !important; /* Semi-transparent background */
  border: none !important; /* Removes border */
}

.custom-clear-button > .clear-text {
  font-size: 12px;
  text-align: left;
  color: rgba(87, 51, 83, 0.5);
}

.light-font {
  opacity: 0.6;
  font-size: 14px;
  font-weight: var(--font-weight-medium);
  text-align: left;
  color: var(--variable-collection-color-secondary);
}

.event-card .ant-card-body {
  padding: 16px 20px;
}

.event-card > .event-title {
  font-size: 12px;
  color: var(--color-secondary);
  font-family: var(--font-family);
  text-align: left;
}
.event-details > .event-title {
  font-size: 12px;
  font-weight: var(--font-weight-medium);
  color: var(--color-secondary);
  font-family: var(--font-family);
  text-align: left;
}

.event-item {
  font-family: var(--font-family);
  padding: 9.5px 0;
  border-bottom: 1px dashed #e8e8e8;
}

.event-date {
  text-align: center;
  border-right: 2px solid var(--clear-color);
  padding-right: 8px;
}

.event-day {
  font-size: 22px;
  font-weight: var(--font-weight-bold);
  color: var(--text-color);
  font-family: var(--font-family);
}

.event-month {
  font-size: 12px;
  color: #888;
}

.event-details {
  padding-left: 12px;
  overflow: hidden;
  white-space: normal;
  word-wrap: break-word;
  color: var(--text-color);
}

/* .event-title {
  font-size: 12px;
  font-weight: var(--font-weight-medium);
  color: var(--text-color);
  font-family: var(--font-family);
  text-align: left;
  color: rgba(65, 65, 78, 0.8);
} */

.event-icon {
  margin-top: 4px;
  color: var(--primary-color);
}

.event-avatars {
  text-align: right;
  display: flex;
  justify-content: flex-end;
}

.event-avatars .ant-avatar-group {
  max-width: 100%;
}

.ant-avatar-group {
  display: flex;
  flex-wrap: nowrap;
}

.event-avatars .ant-avatar {
  border: 2px solid white;
  background-color: var(--button-bg); /* Example for button background */
}

/* modal card label name */
.modal-card-padding {
  gap: 20px;
  padding: 20px;
}
.modal-card-label-name {
  font-size: 16px;
  font-weight: var(--font-weight-medium);
  line-height: 1.5;
  letter-spacing: -0.48px;
  text-align: left;
  color: var(--color-secondary);
}

.modal-card-actor-details-border {
  gap: 10px;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  border-radius: 8px;
  border: solid 1px #5978f7;
  background-color: #f9f5fa;
}

.modal-card-actor-details-border .actor-label {
  margin-left: 2.5px;
  font-size: 14px;
  font-weight: var(--font-weight-light);
  text-align: left;
  color: var(--variable-collection-color-secondary);
}
.model-card-calender-label {
  height: 16px;
  align-self: stretch;
  flex-grow: 0;
  opacity: 0.5;
  font-family: Manrope;
  font-size: 12px;

  text-align: left;
  color: var(--variable-collection-color-secondary);
}
.modal-card-calender {
  width: 164px;
  height: 40px;
  margin: 12px 0 0;
  padding: 8px 9.5px 8px 9.5px;
  border-radius: 8px;
  text-align: left;
  border: none;
  background-color: rgba(177, 175, 233, 0.1);
}

.modal-card-action-icon {
  width: 15px;
  height: 16.7px;
}

.modal-tansfer-input {
  width: 164px;
  height: 40px;
  margin: 12px 0 0;
  padding: 10.5px 9.5px 10.5px 9.5px;
  opacity: 0.5;
  border-radius: 8px;
  border: none;
  background-color: rgba(177, 175, 233, 0.1);
}
.modal-tansfer-dropdown {
  width: 164px;
  height: 40px;
  margin: 12px 0 0;
  border-radius: 8px;
  background-color: rgba(177, 175, 233, 0.1);
}

.main-body-activity-submenu-img {
  gap: 12px;
  padding: 10px 16px;
  opacity: 0.6;
  border-radius: 12px;
  background-color: rgba(177, 175, 233, 0.1);
}
.activity-submenu-img {
  width: 259px;
  height: 149.8px;
  flex-grow: 0;
  opacity: 0.6;
}

.activity-submenu-input {
  width: 364px;
  height: 40px;
  flex-grow: 0;
  margin: 4px 33.5px 1px 72.5px;
  padding: 11px 120px 13px 16px;
  border-radius: 8px;
  border: solid 1px rgba(87, 51, 83, 0.4);
  background-color: var(--variable-collection-color-white);
}

.classroom-table {
  .ant-table-thead > tr:nth-child(2) > th:first-child {
    border-radius: 8px 0 0 0 !important;
  }
  .ant-table-thead > tr:nth-child(1) > th:first-child {
    text-align: left;
    padding-left: 0px;
  }
  .ant-table-thead > tr:nth-child(1) > th:nth-child(1) {
    padding: 0px 10px;
  }
  .ant-table-thead > tr:nth-child(1) > th:nth-child(2),
  .ant-table-thead > tr:nth-child(1) > th:nth-child(3),
  .ant-table-thead > tr:nth-child(1) > th:nth-child(4),
  .ant-table-thead > tr:nth-child(1) > th:nth-child(5) {
    border-bottom: 1px solid white;
  }

  .ant-table-thead > tr > th {
    background-color: #ffffff;
    border-bottom: 1px solid #2c63e233;
  }

  /* .ant-table-wrapper {
    padding: 16px;
  } */

  .ant-table-wrapper .ant-table-tbody > tr > td {
    transition: background 0.2s, border-color 0.2s;
    border-bottom: 1px solid #e9ecef;
  }

  .ant-table-wrapper
    .ant-table-thead
    > tr
    > th:not(:last-child):not(.ant-table-selection-column):not(
      .ant-table-row-expand-icon-cell
    ):not([colspan])::before,
  ::before {
    background-color: transparent !important; /* Set background-color to none */
  }

  .students-column {
    background: #2c63e219 !important;
  }

  .staff-column {
    background: #cbf6ff66 !important;
  }

  .ratio-column {
    background: #ffe5cb66 !important;
  }

  .name-column,
  .capacity-column,
  .fte-column {
    background: #f9f5fab3 !important;
  }

  .select-classroom {
    width: 185px !important;
    height: 40px;
    border-radius: 8px;
    margin-bottom: 5px;
    background-color: rgba(177, 175, 233, 0.1);
    text-align: start;
  }
}

.select-classroom > .ant-select-selector {
  border: none !important;
}

.border-radius {
  border-radius: 0 0 8px 8px;
}

.profile-image {
  .ant-upload-wrapper.ant-upload-picture-circle-wrapper
    .ant-upload-list.ant-upload-list-picture-circle
    .ant-upload-list-item-container,
  .ant-upload-wrapper.ant-upload-picture-circle-wrapper
    .ant-upload.ant-upload-select {
    width: 40px;
    height: 40px;
  }
  .ant-upload-list-item {
    padding: 0px !important;
  }
  .ant-upload-list-item-actions {
    inset-inline-start: 50px !important;
  }
  .ant-upload-list-item-undefined::before {
    display: none !important;
  }
  .ant-image > .css-dev-only-do-not-override-qnu6hi {
    display: none !important;
  }
}

.delete-modal {
  background: white;
  border-radius: 12px;
  padding: 24px 20px;
}

.delete-modal-icon {
  width: 64px;
  height: 64px;
}

.delete-modal-icon-overlay {
  position: absolute;
  top: 16px;
  left: 16px;
  width: 32px;
  height: 32px;
  background: white;
  border-radius: 50%;
}

.delete-modal-title {
  color: #573353;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  padding: 24px 0;
}

.delete-modal-description {
  color: #573353;
  font-size: 12px;
  text-align: center;
}

.classroom-students-l-overflowborder {
  position: absolute;
  width: 92px;
  height: auto;
  top: -2.5vh;
  right: 1vh;
  z-index: 9;
  border-radius: 8px;
  border: 1px solid #5978f7 !important;
  background-image: linear-gradient(
      to bottom,
      var(--variable-collection-color-white),
      var(--variable-collection-color-white)
    ),
    linear-gradient(to right, #5978f7, #9c84ff);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 16px;
  background-color: #ffffff;
}

/* Cross Icon */
.close-icon {
  top: 3px;
  right: 8px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  z-index: 1; /* Ensures it stays above other content */
}
.classroom-students-r-overflowborder {
  position: absolute;
  right: -20vh;
  top: -2.5vh;
  z-index: 9;
  border-radius: 8px;
  background: var(--2, linear-gradient(90deg, #6f8cff 0%, #9c84ff 100%));
  width: 110px;
  gap: 16px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.classroom-students-r-icon {
  width: 24px;
  height: 24px;
}

.overflowCard-left .ant-card .ant-card-body {
  padding: 16px !important;
}
.overflowborder-icon-label {
  height: 52px;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 9px;
  padding: 0;
  /* margin-bottom: 16px; */
  cursor: pointer;
}
.overflowBorder-icon {
  width: 21.9px;
  height: 22px;
}

.overflowBorder-label {
  height: 19px;
  flex-grow: 0;
  font-family: Manrope;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: var(--variable-collection-color-secondary);
}

.student-table-header-label {
  color: var(--text-color, #573353);
  font-size: 14px;
  font-style: normal;
  font-weight: var(--font-weight-medium);
  line-height: normal;
}
.student-table-body-label {
  color: var(--text-color);
  font-size: 14px;
  font-style: normal;
  font-weight: var(--font-weight-light);
  line-height: normal;
}

.student-table-body-label a {
  color: var(--font-colour, #573353) !important;
  font-size: 14px;
  font-weight: var(--font-weight-light);
}

.student-table-action-label .ant-dropdown-menu-title-content {
  color: var(#573353);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.student-create {
  padding: 15px 40px;
}
.student-create .ant-form-item {
  margin-bottom: 12px;
}
.student-label {
  color: rgba(87, 51, 83, 0.5);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 12px;
}
.student-form-input {
  height: 40px;
}

.select-student-add-from-drp-lable {
  margin-top: 22px !important;
}

.select-student-add-from {
  height: 40px;
  border: none !important;
  border-radius: 8px;
}

.select-student-add-from .ant-select-selector {
  border: none !important;
}

@media screen and (max-width: 768px) {
  .select-student-add-from {
    width: 100% !important;
  }
}

.common-button-component {
  text-align: center;
  font-size: 16px;
  font-style: normal;
  line-height: 16px; /* 100% */
}
.border-none {
  border: none !important;
}

.ant-select .ant-select-arrow {
  inset-inline-end: 14px !important;
}

.student-custom-tabs .ant-tabs-content-holder {
  border: solid 1px var(--color-dark-blue) !important;
  background-color: #ffffff !important;
}

/* Style the Staff tab with key="1" */
.student-custom-tabs .ant-tabs-tab[data-node-key="1"],
.student-custom-tabs .ant-tabs-tab:nth-child(1) {
  background-color: #2c63e219;
}

/* Style the Staff tab with key="2" */
.student-custom-tabs .ant-tabs-tab[data-node-key="2"],
.student-custom-tabs .ant-tabs-tab:nth-child(2) {
  background-color: #d9ffcb66;
}

/* Style the Staff tab with key="3" */
.student-custom-tabs .ant-tabs-tab[data-node-key="3"],
.student-custom-tabs .ant-tabs-tab:nth-child(3) {
  background-color: #cbf6ff66;
}
.student-custom-tabs .ant-tabs-tab[data-node-key="4"],
.student-custom-tabs .ant-tabs-tab:nth-child(4) {
  background-color: rgba(234, 214, 255, 0.4);
}

.student-about-tab-label {
  color: var(--font-colour, #573353) !important;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.8;
}

.student-about-tab-label-value {
  color: var(--font-colour, #573353) !important;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.student-about-tab-schedule-value {
  color: #1b237e;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.about-floating-edit-div {
  border-radius: 12px;
  background: var(--2, linear-gradient(90deg, #6f8cff 0%, #9c84ff 100%));

  .ant-avatar.ant-avatar-square {
    border-radius: 12px !important;
  }
}

.-profile-name {
  color: var(--font-colour, #573353) !important;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: block;
}
.-profile-class {
  color: var(--font-colour, #573353) !important;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: block;
}
.-profile-role {
  color: var(--font-colour, #573353) !important;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.bold {
  font-weight: var(--font-weight-bold);
}
.light {
  font-weight: var(--font-weight-light);
}

.important-dates-page {
  border-radius: 12px;
  border: 1px solid #2c63e2;
  background: var(--White-colour, #fff);
}

.schedule-days {
  width: 92px;
  padding: 4px 8px;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.documents-body {
  border-radius: 0px 12px 12px 12px;
  border: 1px solid #2c63e2;
  background: var(--White-colour, #fff);
  padding: 28.5px 16px;
}

.staff-overview-card-label {
  color: #41414ecc;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.staff-overview-card-number {
  color: var(--Color-1, #5978f7);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.staff-label {
  color: rgba(87, 51, 83, 0.5);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 12px;
}
.staff-form-input {
  height: 40px;
  margin-bottom: 22px;
}
.h40 {
  height: 40px;
}

.staff-about-container {
  border-radius: 0px 12px 12px 12px;
  border: 1px solid #2c63e2;
  background: var(--White-colour, #fff);
}

.custom-date-picker {
  height: 40px;
  align-self: stretch;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border: none;
  border-radius: 8px;
  background: rgba(177, 175, 233, 0.1);
  flex-shrink: 0;
}

.custom-date-picker:hover {
  background: rgba(177, 175, 233, 0.1);
}

.custom-date-picker .ant-picker-suffix {
  color: #573353; /* Change to a darker shade as needed */
}

.custom-text {
  color: var(--font-colour, #573353) !important;
  font-family: "Manrope", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.attendance-profile-card-attendance-day {
  border-radius: 12px;
  background: rgba(52, 199, 89, 0.1);
  padding: 22px 20px;
  height: 127px;
}

.custom-circle {
  width: 72.036px;
  height: 72.036px;
  border: 2px solid var(--circle-color, #ff7b7b);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-number {
  color: var(--text-color, #5978f7);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.circle-smile {
  position: absolute;
  bottom: 25%;
  left: 25%;
  width: 50%;
  height: 20px;
  border-bottom: 2px solid var(--circle-color, #ff7b7b);
  border-radius: 0 0 100px 100px;
}

.ant-card-bordered {
  border: none;
}

.ant-tabs-top > .ant-tabs-nav::before {
  border-bottom: none !important;
}
.ant-tooltip .ant-tooltip-inner {
  background-color: #41414ecc;
}

.ant-tooltip {
  --antd-arrow-background-color: #41414ecc;
}

.ant-tag {
  margin-inline-end: 5px;
}

.ant-upload-list-item::before {
  display: none !important;
}

.staff-schedule .ant-tooltip-content {
  border-radius: 8px;
  background-color: #e8e7f8 !important;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
}

.schedule-tool-label {
  color: #573353;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 12px;
}

.schedule-tool-sub-label {
  color: #573353;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.no-border-tag {
  border: none !important;
}
.plus-number-count {
  background-color: #d9ffcb66;
  color: #1b237e;
  margin-left: 12px;
  opacity: 1;
}

.plus-number-count-label {
  margin-bottom: 12px; /* Add space between items */
}

.plus-number-count-label:last-child {
  margin-bottom: 0; /* Remove margin for the last item */
}

.staff-table--body-label {
  color: var(--font-colour, #573353) !important;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.staff-document-form,
.staff-imp-date-form {
  padding: 20px 40px 0px 40px;
}
.staff-imp-date-form .ant-form-item {
  margin-bottom: 12px;
}
.staff-important-dates-tab-label-key {
  color: var(--font-colour, #573353) !important;
  font-size: 13px;
  font-weight: 400;
  opacity: 0.8;
}
.staff-important-dates-tab-label-value {
  color: #573353;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.staff-important-dates-checkup-card-key {
  color: #573353;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.5;
}

.label-11-500 {
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.label-14-400 {
  color: var(--font-colour, #573353) !important;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.label-14-500 {
  color: var(--font-colour, #573353) !important;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.label-14-600 {
  color: var(--font-colour, #573353) !important;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.label-16-500 {
  color: #573353;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.label-16-600 {
  color: #573353;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.label-20-600 {
  color: var(--font-colour, #573353) !important;
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 120% */
  letter-spacing: -0.6px;
}
.label-12-400 {
  color: var(--font-colour, #573353) !important;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}
.label-20-500 {
  color: var(--font-colour, #573353) !important;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/* Apply the custom scrollbar styles */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px !important; /* Adjust the width for vertical scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, #5978f7 0%, #9c84ff 100%) !important;
  border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #4763d9 !important;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f0f0f0 !important;
  border-radius: 10px !important;
}

/* For non-Webkit browsers (Firefox) */
.custom-scrollbar {
  scrollbar-width: thin !important; /* Makes the scrollbar thin */
  scrollbar-color: #5978f7 #f0f0f0 !important; /* Thumb color and track color */
}

/* For Chrome, Edge, Safari */
.ant-table-body::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
  height: 8px; /* Height of the horizontal scrollbar */
}

.ant-table-body::-webkit-scrollbar-thumb {
  background-color: #dee4fd; /* Thumb color */
  border-radius: 8px; /* Rounded corners for the scrollbar thumb */
}

.ant-table-body::-webkit-scrollbar-thumb:hover {
  background: #4763d9;
}

.ant-table-body::-webkit-scrollbar-track {
  background-color: #ffffff; /* Track color */
  border-radius: 8px; /* Rounded corners for the scrollbar track */
}

.ant-table-body {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #dee4fd #ffffff; /* Thumb color and track color */
  border-radius: 8px; /* Rounded corners for the scrollable container */
}

/* Staff Table Floating Card */
.staff-overflowborder {
  position: absolute;
  right: -4vh; /* Adjust to position the card on the right side */
  top: 25vh; /* Adjust the vertical position */
  z-index: 9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: linear-gradient(180deg, #5978f7 0%, #9c84ff 100%);
  width: 68px; /* Total width */
}

/* Icon and Label Container */
.staff-overflowborder-icon-label {
  display: flex;
  flex-direction: column; /* Stack the icon and label vertically */
  align-items: center; /* Center the items horizontally */
  margin-bottom: 16px;
}

/* Icon Styles */
.staff-overflowBorder-icon {
  width: 24px;
  height: 24px;
  margin-bottom: 4px; /* Space between icon and label */
}

.staff-attendance-overflowborder {
  position: absolute;
  width: 69px;
  height: auto;
  top: 25vh;
  right: 9vh;
  z-index: 999;
  border-radius: 8px; /* Apply border radius */
  border: 1px solid #5978f7;
  background-image: linear-gradient(
      to bottom,
      var(--variable-collection-color-white),
      var(--variable-collection-color-white)
    ),
    linear-gradient(to right, #5978f7, #9c84ff); /* Apply both background and border gradient */
  background-clip: padding-box; /* This ensures the background gradient respects the border radius */
}

.activity-submenu-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* Creates 5 equal-width columns */
  gap: 16px; /* Adjust space between the cards */
  width: 100%;
}

.activity-submenu-icon {
  display: flex;
  width: 100%;
  padding: 16px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid rgba(87, 51, 83, 0.1);
  background: var(--White-colour, #fff);
}

.activity-submenu-icon-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 9px;
}

.activity-submenu-icon-size {
  width: 48px;
  height: 48px;
  flex-shrink: 0;
}

@media (max-width: 1024px) {
  .activity-submenu-grid {
    grid-template-columns: repeat(
      3,
      1fr
    ); /* 3 columns for tablet or medium screen */
  }
}

@media (max-width: 768px) {
  .activity-submenu-grid {
    grid-template-columns: repeat(2, 1fr); /* 2 columns for small screens */
  }
}

@media (max-width: 480px) {
  .activity-submenu-grid {
    grid-template-columns: 1fr; /* 1 column for very small screens */
  }
}

.lable-16-600 {
  color: var(--Color-Secondary, #573353);

  /* H1 */
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
  letter-spacing: -0.48px;
}

.notes-main-card {
  display: flex;
  padding: 8px 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  border-radius: 8px;
  border: 1px solid var(--Color-1, #465cb3);
  background: var(--White-colour, #fff);
}
.message-container {
  /* max-width: 80%; */
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  overflow-y: auto;
  max-height: 380px;
  margin-top: 5px;
}
.message-card {
  display: flex;
  flex-direction: column; /* Stack the items vertically */
  /* gap: 16px; Ensure 16px gap between all child elements */
}
.notes-message-outer-layer {
  display: inline-flex; /* Ensures the styling applies only to the text content */
  padding: 8px 8px 8px 16px;
  align-items: center;
  gap: 10px;
  border-radius: 32px 32px 32px 32px;
  background: rgba(160, 170, 193, 0.1);
  max-width: 100%; /* Restrict width to 80% of the parent container */
  word-wrap: break-word; /* Ensure text wraps when necessary */
}

.notes-message-input-box {
  height: 50px;
  padding: 8px 16px;
  border-radius: 24px;
  border: 1px solid var(--2, #6f8cff);
  background: var(--White-colour, #fff);
}

.custom-message-bar {
  height: 355px;
  overflow-y: auto;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  /* Remove border, outline, or shadow from the card container */
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  padding: 0 !important;
}

/* Custom Scrollbar Styles */
.custom-message-bar::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

.custom-message-bar::-webkit-scrollbar-track {
  background-color: #f5f5ff;
  border-radius: 3px;
}

.custom-message-bar::-webkit-scrollbar-thumb {
  background-color: #e7e7ff;
  border-radius: 3px;
}

.custom-message-bar::-webkit-scrollbar-thumb:hover {
  background-color: #d1d1ff;
}

/* Firefox */
.custom-message-bar {
  scrollbar-width: thin;
  scrollbar-color: #e7e7ff #f5f5ff;
}

.modal-card-padding-student {
  gap: 20px;
  /* padding: 20px 20px; */
  position: relative; /* Needed for the absolute positioning of the button container */
}

.center-bottom-buttons {
  position: absolute;
  bottom: 16px; /* Adjust to match your design */
  left: 60%;
  transform: translateX(-50%);
  display: flex;
  gap: 16px;
  justify-content: center;
}

.label-11-400 {
  color: var(--font-colour, #573353) !important;
  font-family: Manrope;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.actorbig-card-text-ellipsis {
  width: 80px; /* Set a fixed width */
  white-space: nowrap; /* Prevent wrapping */
  overflow: hidden; /* Hide the overflowing text */
  text-overflow: ellipsis; /* Add the ellipsis */
}

.actorbig-card-text-ellipsis:hover::after {
  content: attr(data-full-text);
  position: absolute;
  left: 0;
  top: 100%;
  background-color: #fff;
  color: #000;
  white-space: nowrap;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 4px 8px;
  border-radius: 4px;
  z-index: 10;
}

.label-12-600 {
  color: var(--Color-Secondary, #573353);
  font-family: Manrope;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.label-13-400 {
  color: var(--Color-Secondary, #573353);
  font-family: Manrope;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* Add gap between rows in the main table */
.schedule-custom-table .ant-table-tbody > tr {
  border-bottom: 16px solid transparent; /* Adds a gap between rows */
}
.child-table {
  padding: 0;
}

.child-table table {
  width: 100%;
  border-collapse: collapse; /* Ensures no extra gaps between table cells */
}

.child-table > table > tbody > tr > td {
  padding: 16px !important; /* Uniform padding inside the table cells */
}

.ant-table-expanded-row-level-1 td {
  padding: 0 !important; /* Removes padding from the parent <td> */
}

.ant-table-row-expand-icon-cell {
  display: none; /* Hides the expand-cell completely */
}

.ant-table {
  table-layout: fixed; /* Ensures consistent column width between parent and child tables */
}

.schedule-custom-table .ant-table-thead > tr > th {
  width: auto; /* Ensures columns adjust dynamically */
}

.teacher-name-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
}
.teacher-time-container {
  display: flex;
  padding-right: 8px;
  align-items: center;
  gap: 6px;
}
.teacher-toggle-history {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  border-right: 1px solid
    var(--Miscellaneous-Button---Disabeld-BG, rgba(118, 118, 128, 0.12));
}
.teacher-more-time {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.teacher-schedule-time-card {
  width: 140px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid #89a0ff;
  background: rgba(177, 175, 233, 0.1);
  align-items: center;
  display: flex;
  justify-content: center;
}
.teacher-unpublished-time-card {
  width: 140px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px dashed #89a0ff;
  background: rgba(177, 175, 233, 0.1);
  align-items: center;
  display: flex;
  justify-content: center;
}

.schedule-add-shift-btn {
  display: flex;
  height: 40px;
  padding: 0px 16px 0px 8px;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  border: 1px solid var(--2, #6f8cff);
}

.gradient-text {
  background: var(--2, linear-gradient(90deg, #6f8cff 0%, #9c84ff 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.schedule-publish-drp-btn {
  display: flex;
  height: 40px;
  padding: 0px 16px;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  background: linear-gradient(90deg, #5978f7 0%, #9c84ff 100%);
}
.schedule-publish-drp-btn:hover {
  border-radius: 12px;
  background: linear-gradient(90deg, #5978f7 0%, #9c84ff 100%) !important;
}
.schedule-publish-drp-btn-text {
  color: var(--White-colour, #fff);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 100% */
}
.schedule-publish-drp .ant-dropdown-menu-title-content {
  color: var(--font-colour, #573353) !important;
  font-size: 12px !important;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.schedule-copy-btn {
  width: 132px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #f7f4fc;
}

.schedule-date-arrow {
  display: flex;
  width: 40px !important;
  height: 40px;
  padding: 8px 8px 9px 9px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background: var(--2, linear-gradient(90deg, #6f8cff 0%, #9c84ff 100%));
}
.schedule-date-arrow:hover {
  background: var(
    --2,
    linear-gradient(90deg, #6f8cff 0%, #9c84ff 100%)
  ) !important;
}

.schedule-16-500 {
  color: #241631;
  text-align: center;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.not-published-line {
  width: 18px;
  height: 1px;
  /* background: repeating-linear-gradient(
    to right,
    #89a0ff,
    #89a0ff 1px,
    transparent 6px,
    transparent 8px
  ); */
  border: 1px dashed #89a0ff;
}
.published-line {
  width: 18px;
  height: 1px;
  background: #89a0ff;
}

.time-picker {
  height: 40px;
  border-radius: 8px;
  background: rgba(177, 175, 233, 0.1) !important;
}
.shift-week-day {
  display: flex;
  padding: 4px 16px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 3px;
  background: rgba(177, 175, 233, 0.1);
}

.opacity05 {
  opacity: 0.5;
}

.opacity1 {
  opacity: 1;
}

.text-gray {
  color: #a0aec0; /* Gray color */
}

.text-blue {
  color: #1b237e; /* Desired blue color */
}

.shift-add-note {
  height: 40px;
  flex-shrink: 0;
  border-radius: 8px;
  background: rgba(177, 175, 233, 0.1) !important;
}
.addshift-form .ant-form-item {
  margin-bottom: 11px !important;
}

.label-10-400 {
  color: var(--font-colour, #573353) !important;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.label-9-500 {
  color: var(--font-colour, #573353) !important;
  font-size: 9px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.label-10-500 {
  color: var(--font-colour, #573353) !important;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.label-12-500 {
  color: var(--font-colour, #573353) !important;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
}
.scheduling-tag-status {
  display: flex;
  padding: 2px 8px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 3px;
  background: #f38d8d;
}

.ant-breadcrumb-separator {
  margin: 0px !important;
}

.card-border .ant-card-body {
  align-items: center;
  align-content: center;
  border-radius: 8px;
  border: 1px solid rgba(22, 40, 49, 0.1);
  background: var(--White-colour, #fff);
  /* box-shadow: 0px 2px 20px 0px #5733531f; */
}

.avatar-container {
  position: relative;
  width: 100px;
  height: 100px;
}

.edit-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.avatar-container:hover .edit-icon {
  opacity: 1;
}

.schedule-actor-card .ant-collapse-content-box {
  padding: 12px 10px !important;
}
.schedule-actor-card {
  border: none !important;
}
.schedule-actor-card .ant-collapse-expand-icon {
  display: none !important;
}

.staff-scheduling-overview .status-indicator {
  width: 16px;
  height: 16px;
}

.staff-scheduling-overview .metrics-card {
  position: relative;
  overflow: hidden;
}

.staff-scheduling-overview .metrics-card .bg-secondary-subtle {
  background: #fbb28f;
}

.staff-scheduling-overview .text-primary {
  color: #573353 !important;
}

.staff-scheduling-overview .text-muted {
  color: #573353 !important;
}
.label-32-600 {
  color: #573353 !important;
  font-family: Manrope;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.rc-virtual-list-scrollbar-thumb {
  background: rgba(222, 228, 253) !important ;
}

.ant-pagination-item-container > .ant-pagination-item-ellipsis {
  display: flex !important;
}

.custom-ant-table .ant-table-wrapper .ant-table-thead > tr > th {
  background: #f0f0f0 !important;
}

.classroom-students-overview-r-overflow {
  position: absolute;
  right: -4vh;
  top: 21.5vh;
  z-index: 9;
  border-radius: 8px;
  background: var(--2, linear-gradient(90deg, #6f8cff 0%, #9c84ff 100%));
  width: 68px;
  gap: 16px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.classroom-students-overview-l-overflow {
  position: absolute;
  width: 69px;
  height: auto;
  top: 0vh;
  right: 13vh;
  z-index: 9;
  border-radius: 8px;
  border: 1px solid #5978f7 !important;
  background-image: linear-gradient(
      to bottom,
      var(--variable-collection-color-white),
      var(--variable-collection-color-white)
    ),
    linear-gradient(to right, #5978f7, #9c84ff);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 16px 6px;
  background-color: #ffffff;
}

.ant-select-selection-search > .ant-select-selection-search-input::placeholder,
.ant-select-selection-placeholder {
  font-weight: var(--font-weight-light);
  font-size: 14px !important;
  color: var(--text-color) !important;
  opacity: 0.8;
}

.ant-input-affix-wrapper > input.ant-input::placeholder {
  font-weight: var(--font-weight-light);
  font-size: 14px !important;
  color: var(--text-color) !important;
  opacity: 0.8;
}
.ant-select .ant-select-arrow {
  color: var(--text-color) !important;
  opacity: 0.8;
}

.pdf {
  width: 16px;
  height: 18px;
}
